/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: #ffe8e8;
  --secondary-color: #0e3150;
  --heading-font-family: "Josefin Sans", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 150px 24px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold !important;
  font-size: 64px !important;
  margin: 1px;
}
.hero p,
.hero h2 {
  font-size: 24px !important;
  margin: 1px;
  font-weight: 400 !important;
}
.hero a {
  background: var(--secondary-color);
  border-radius: 10px;
  color: var(--branding-color);
  padding: 10px 35px;
  font-size: 20px;
  margin-top: 30px;
}
