/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: #ffe8e8;
  --secondary-color: #0e3150;
  --heading-font-family: "Josefin Sans", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .content {
    display: none;
  }
  .sm-content {
    display: flex;
    margin: 15px;
  }
  .sm-content img {
    max-width: 75%;
    margin-bottom: 10px;
  }
  .hero {
    padding: 100px 24px !important;
  }
  .hero h1 {
    font-size: 32px !important;
  }
  .hero p,
  .hero h2 {
    font-size: 16px !important;
  }
  .hero a {
    font-size: 12px !important;
  }
  .heading {
    text-align: center;
    margin: 40px 0 0 !important;
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 24px !important;
    font-family: var(--heading-font-family);
  }
  .my-photo {
    display: none;
  }
  .heading-about {
    margin: 0 !important;
  }
  .about-info p {
    font-size: 14px !important;
    line-height: 22px !important;
    letter-spacing: 0 !important;
    max-width: 90% !important;
  }
  .about-info h3 {
    font-size: 20px !important;
    margin: 0 10px;
  }
}
body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 100px 24px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold !important;
  font-size: 64px;
  margin: 1px;
}
.hero p,
.hero h2 {
  font-size: 24px;
  margin: 1px;
  font-weight: 400 !important;
}
.hero a {
  background: var(--secondary-color);
  border-radius: 10px;
  color: var(--branding-color);
  padding: 10px 35px;
  font-size: 20px;
  margin-top: 30px;
}
.hero img {
  max-width: 30%;
  height: auto;
  vertical-align: middle;
}
.content {
  margin: 10px;
}
.content img {
  margin: 0px;
  max-width: 27%;
  width: 500px;
}
.heading {
  font-size: 42px;
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 64px 0 20px;
  color: var(--secondary-color);
  font-weight: bold;
}
.nav-link {
  color: #d9d4d1 !important;
  font-family: var(--default-font-family) !important;
  font-size: 18px !important;
}
.navbar-brand {
  font-family: var(--heading-font-family) !important;
  color: var(--branding-color) !important;
  font-size: 30px !important;
}
.container-fluid {
  padding-left: 40px !important;
}
.navbar-toggler-icon {
  color: var(--branding-color) !important;
  background-image: none !important;
}
.contact-link {
  color: var(--secondary-color);
  background-color: var(--branding-color);
  font-size: 42px;
  padding: 10px;
  margin: 18px;
  border-radius: 12px;
  border: 1px solid var(--secondary-color);
}
.heading-about {
  margin: 100px 50px;
}
.about-info {
  margin: 40px 0;
}
.about-info h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  padding: 10px 0 40px;
}
.about-info p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 42px;
  letter-spacing: 0.02em;
  max-width: 50%;
  margin: 0 auto;
}
